/* bandsintown widgets */
.bit-widget-container {
  width: 100vh;
  text-align: center;
}

.bit-widget .bit-top-track-button {
  margin-bottom: 40px;
  color: rgb(252, 229, 174);
  font-family: "Orbitron-Bold", Arial, Helvetica, sans-serif;
}
.bit-widget .bit-nav-bar-container {
  display: flex;
  justify-content: center;
}

.bit-widget .bit-nav-bar-container .bit-nav-bar {
  flex-direction: column;
  color: rgb(252, 229, 174);
  font-family: "Orbitron-Bold", Arial, Helvetica, sans-serif;
}

.bit-widget .bit-nav-bar-container .bit-nav-bar .bit-logo-container {
  margin: 30px;
  color: rgb(252, 229, 174);
}

.bit-widget .bit-no-dates-container {
  color: rgb(252, 229, 174);
  font-family: "Orbitron-Bold", Arial, Helvetica, sans-serif;
}

.bit-widget .bit-no-dates-container .bit-no-dates-title {
  margin-bottom: 40px;
}

.bit-widget .bit-offers {
  background-color: black !important;
  border: 1px rgb(252, 229, 174) solid !important;
  border-radius: 16px !important;
  color: rgb(252, 229, 174) !important;
}
