/* large */
@media screen and (max-width: 1560px) {
  #contact {
    font-size: x-large;
  }
}

/* medium */
@media screen and (max-width: 1280px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    overflow: visible;
  }
  #listen {
    justify-content: center;
  }
  #contact {
    font-size: large;
    margin: 0 5rem;
  }
}

@media screen and (max-width: 800px) {
  #contact {
    font-size: medium;
  }
}

/* small */
@media screen and (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  section {
    margin: 0 20px;
  }

  .bit-widget .bit-top-track-button {
    display: inline-block;
    width: 41% !important;
    font-size: 15px !important;
    margin: 0 auto !important;
    padding: 40px 10px !important;
  }

  .logo img {
    width: 245px;
  }

  #contact {
    font-size: medium;
  }
}
