/* large */
@media screen and (max-width: 1400px) {
}

/* medium */
@media screen and (max-width: 1280px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    overflow: visible;
  }
}

/* small */
@media screen and (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .logo img {
    width: 245px;
  }
}
