@font-face {
  font-family: "Alvedon2";
  src: url("../fonts/ALVEDON2.ttf") format("truetype");
}

@font-face {
  font-family: "Orbitron-Bold";
  src: url("../fonts/Orbitron-Bold.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: rgb(252, 229, 174);
  overflow-y: scroll;
  font-family: "Orbitron-Bold", Arial, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
}
canvas {
  display: block;
}

/* navigation */
/* //////////////////////////////////////////////// */
nav,
.nav-links {
  display: flex;
}

nav {
  margin: 0 2rem;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: rgb(252, 229, 174);
  text-decoration: none;
  text-decoration-color: rgb(252, 229, 174);
}

a:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: white;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

#hamburger-nav {
  display: none;
  margin: 0 4rem;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 5px;
  background-color: rgb(252, 229, 174);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: black;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(252, 229, 174);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:nth-child(2) {
  opacity: 1;
}

.hamburger-icon span:last-child {
  transform: none;
}

/* steady nerves release info */
/* //////////////////////////////////////////////// */
.release-info {
  text-align: center;
  color: white;
  margin: 40px;
  font-size: large;
  line-height: 2rem;
  background-color: black;
  border: 0.5px rgb(252, 229, 174) solid;
  border-radius: 15px;
}
